.tgPhotoEditor {
  .predefinedColorList {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .colors {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 14px 24px;
    }
  }

  .sizeSlider {
    margin: 0 24px;
  }
}
