.tgPhotoEditor {
  .drawTabBody {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
  }

  .penListWrapper {
    font-size: 16px;
    font-weight: 500;
    margin: 0 8px;

    .title {
      padding: 16px;
      color: rgba(170, 170, 170, 1);
    }

    .penList {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-left: 16px;
      margin-right: 16px;

      .pen {
        display: flex;
        align-items: center;
        gap: 16px;
        color: #fff;
        padding: 14px 0;
        position: relative;
        cursor: pointer;
        padding-left: 16px;
        transition: transform 0.2s;
        transform: translateX(-36px);

        &.selected {
          background: rgba(43, 43, 43, 1);
          border-radius: 10px;
          transform: translateX(0);
        }
      }

      .penIcon {
        transform: translateY(3px);
      }

      .penShadow {
        position: absolute;
        width: 48px;
        height: 16px;
        left: 16px;
        background: linear-gradient(
          180deg,
          rgba(33, 33, 33, 0) 0%,
          #212121 100%
        );
        transform: rotate(90deg);
        z-index: 2;

        &.selected {
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(43, 43, 43, 0) 0%,
            #2b2b2b 100%
          );
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}
