.tgPhotoEditor {
  .editor-tab-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 48px;
    justify-content: center;
    position: relative;

    .active-border {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .tabIconWrapper {
     color: rgba(170, 170, 170, 1);

      &.active {
        color: rgba(78, 142, 229, 1);
      }
    }

    &.active {
      color: rgba(78, 142, 229, 1);
    }
  }
}
